pynb*
*.a
*.ipynb
*.out
*.pyc
*.docx
*.o
*.pdf
*~
*.aux
*.fdb_latexmk
*.log
*.synctex.gz
*.tex
!lib.a
/TODO
code_for_caffe/dataset
data
vlfeat-0.9.20
# 会忽略 doc/notes.txt 但不包括 doc/server/arch.txt
doc/*.txt
