pynb*
*.a
*.ipynb
*.out
*.pyc
*.docx
*.o
*.pdf
*~
*.aux
*.fdb_latexmk
*.log
*.synctex.gz
*.tex
!lib.a
/TODO
data
code_for_caffe/dataset
vlfeat-0.9.20
doc/*.txt
*.caffemodel
*.solverstate
char74*
.swp

